{% extends "layouts/main.html" %}
{% block content %}
<!-- main -->
<main class="main">
    <div class="main__wrapper">
        <p class="auth-para">
            პაროლის აღსადგენად გთხოვთ, მიუთითოთ თქვენი რეგისტრირებული
            ელ-ფოსტა, სადაც მიიღებთ პაროლის გნაახლების ლინკს.
        </p>
        <form action="{{ url_for('user_blueprint.reset_password') }}" class="main__form flex-column" id="reset-psw"
              autocomplete="off" method=post>
            {{ form.hidden_tag() }}
            <div class="main__form-field flex-column">
                <label for="email">ელ-ფოსტა:</label>
                {{ form.email(id="psw-reset-email", placeholder="example@gmail.com")}}
            </div>
            <input type="submit" value="პაროლის აღდგენა"/>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <span>{{message}}</span>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <span class="input-error"
                  id="reset-psw-error">** ელ-ფოსტა არასწორია, გთხოვთ მიუთითოთ სწორი მისამართი.</span>
            <span class="input-success" id="reset-psw-success">
                <img src="{{ url_for('static', filename='images/success.png')}}" alt="success">
                <p>შეტყობინება გაიგზავნა წარმატებით, პაროლის აღდგენის ლინკს მიიღებთ მეილზე.</p>
              </span>
        </form>
    </div>
</main>
{% endblock %}
