// main styles
.main {
  .transcript__table,
  .participants__table {
    h3 {
      margin: 0.5rem 0;
      font-family: $ff-nunitobold;
      font-size: $fs-s;
      text-transform: capitalize;
      color: $clr-black;
    }

    tr {
      display: grid;
      grid-template-columns: 1fr 120px repeat(8, 1.3fr);
      justify-content: center;
      align-items: center;
      background-color: #2a27ca;

      &:last-of-type {
        border-bottom: 1px solid;

      }
    }

    %table-content {
      font-size: $fs-xs;
      text-transform: capitalize;
      border-top: 1px solid $clr-grey-secondary;
      border-right: 1px solid $clr-grey-secondary;
      color: $clr-black;
      background-color: $clr-white;

      &:first-child {
        border-left: 1px solid $clr-grey-secondary;
      }
    }

    th {
      min-height: 30px;
      font-family: $ff-nunitobold;
      @extend %table-content;
    }

    td {
      @extend %table-content;
      padding: 0.5rem;
      height: 100%;
      font-family: $ff-nunitomedium;
      font-weight: 400;

      a {
        color: #2a27ca;

        &:hover {
          color: $clr-green;
          text-decoration: underline;
        }
      }
    }

    .parent-data {
      border-top: none;
    }
  }

  .participants__table {
    tr {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  .transcript {
    margin-top: 2rem;
    padding-left: 2rem;


    li {
      position: relative;
      list-style: none;
      line-height: 1.25rem;
      font-family: $ff-nunitomedium;
      font-weight: 400;

      &:nth-child(1),
      &:nth-child(3) {

        span {
          font-weight: 400;
        }
      }

      span {
        font-family: $ff-nunitobold;
        font-weight: 700;
      }

      &::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 1px;
        background-color: $clr-darkblue;
        left: -15px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .audios-list {
    margin-top: 2rem;
    padding-left: 1.0rem;

    ol {
      list-style-type: none;
    }

    .com {
      display: inline-block;
      margin: 1rem 0 0;
      font-family: $ff-nunitomedium;
      color: $clr-black;
      font-weight: 400;

      span {
        font-family: $ff-nunitobold;
        color: $clr-black;
      }
    }

    li {
      display: grid;
      grid-template-columns: auto 15px 31px 6px 830px;
      align-items: baseline;
      position: relative;
      margin-top: 1.2rem;
      font-family: $ff-nunitomedium;
      font-weight: 400;
      color: $clr-black;
      // background-color: red;

      &:first-child {
        margin-top: 0;
      }

      .list-number {
        display: inline-block;
        width: 88%;
        height: 29px;
        text-align: center;
        padding: 3px 4px;
        background-color: $clr-white;
        font-size: $fs-m;
        color: $clr-black;
        border-radius: 6px;
        margin-right: 17px;
        box-shadow: 3px 1px 4px #e0e0e040;
        grid-column: 1;
      }

      img {
        width: 0.725rem;
      }

      div {
        grid-column: 5 / 5;
        line-height: 22px;
        height: 100%;
      }

      span {
        grid-column: 3 / 3;
      }
    }

    @media (max-width: 1300px) {
      li {
        grid-template-columns: auto 9px 31px 6px 780px
      }
    }

    span {
      font-family: $ff-nunitobold;
      font-size: $fs-s;
      color: $clr-green;
    }
  }
}

// aside styles
.aside {

  &__title {

    a {
      color: $clr-darkgrey;

      &:hover {
        font-weight: 700;
        color: $clr-darkgrey;
      }
    }
  }


  .logged-in-ul {
    position: relative;
    border-radius: 6px;

    &.video-list {
      min-height: 400px;
      overflow: hidden;
      overflow-y: visible;

      .list-wrapper {
        position: absolute;
      }
    }

    li {
      margin: 1rem 0 0 1rem;

      a {
        font-family: $ff-nunitomedium;
        color: $clr-green;
      }
    }

    .grey-li {
      a {
        color: $clr-darkgrey;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &__wrapper {
    display: grid;
    gap: .5rem;
  }

  &__video {
    margin-top: 2.5rem;
    border-radius: 6px;

    &-main {
      position: relative;
      width: 100%;
      min-height: 210px;
      background-color: $clr-lightgrey;
      border-radius: 6px;

      iframe {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__thumbnail-videos {
    ul {
      gap: 1.25rem;
    }

    li {
      position: relative;
      margin: 1.6rem 0;
      list-style: none;
      height: 50px;
      width: 20%;
      background-color: $clr-lightgrey;
      border-radius: 4px;
      cursor: pointer;

      img {
        position: absolute;
        left: -10px;
        border-radius: 4px;
      }

      a {
        position: absolute;
        top: 105%;
        left: 50%;
        transform: translateX(-50%);
        font-family: $ff-nunitobold;
        color: $clr-darkgrey;
        font-size: 0.5rem;
        white-space: nowrap;

        &.active {
          color: $clr-green;
          text-decoration: underline;
        }
      }
    }
  }

  // scrollbar styles
  ::-webkit-scrollbar {
    background-color: $clr-white;
    border-radius: 0.5rem;

    &-thumb {
      background-color: #e1e1e1;
      border-radius: 0.5rem;

      &:hover {
        background-color: $clr-lightgrey;
      }
    }

    &-button:single-button:vertical:decrement {
      background-position: center 4px;
      background-image: url(../../images/scroll-btn-up.png);
    }

    &-button:single-button:vertical {
      background-position: center 4px;
      background-image: url(../../images/scroll-btn-down.png);
    }
  }
}