.modal {
  display: none;
  padding: 1rem 1.625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 0.8rem;
  font-family: $ff-firaregular;

  &-active {
    display: flex;
  }

  &-disabled {
    display: none;
  }

  &__icons {
    position: relative;
    width: 100%;
    min-height: 1rem;
  }

  &__info {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1rem;
  }

  &__close {
    position: absolute;
    right: 0.5rem;
    width: 1rem;
    cursor: pointer;
  }

  p {
    line-height: 2.5rem;
  }

  hr {
    margin: 0.5rem 0;
    opacity: 0;
  }

  button {
    padding: 5px 1rem;
    border-radius: 6px;
    border: none;
    background-color: $clr-darkblue;
    color: $clr-white;
    cursor: pointer;
  }
}
