.main {
  h2 {
    font-family: $ff-nunitobold;
    font-size: $fs-xl;

    span {
      font-family: $ff-nunitomedium;
      font-weight: 500;
    }
  }

  &__goal,
  &__instructions {
    margin: 50px 0 150px;
    font-family: $ff-firaregular;

    h3 {
      font-size: $fs-l;
    }

    p {
      margin-top: 1.5rem;
    }

    hr {
      opacity: 0;
      margin: 1rem 0;
    }
  }

  &__creators {
    h3 {
      font-size: $fs-l;
    }

    ul {
      margin-top: 1.5rem;
    }

    li {
      margin: 0.3rem 0;
      list-style: none;
      font-style: italic;
      font-family: $ff-helvetica;
      font-size: $fs-s;
    }
  }
}
