@font-face {
  font-family: "nunito-medium";
  src: url("/static/font/nunito-medium.woff2") format("woff2"),
    url("/static/font/nunito-medium.woff") format("woff"),
    url("/static/font/nunito-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nunito-bold";
  src: url("/static/font/nunito-bold.woff2") format("woff2"),
    url("/static/font/nunito-bold.woff") format("woff"),
    url("/static/font/nunito-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "fira-regular";
  src: url("/static/font/firago-regular.woff2") format("woff2"),
    url("/static/font/firago-regular.woff") format("woff"),
    url("/static/font/firago-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "fira-medium";
  src: url("/static/font/firago-medium.woff2") format("woff2"),
    url("/static/font/firago-medium.woff") format("woff"),
    url("/static/font/firago-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "helvetica";
  src: url("/static./font/helvetica.woff2") format("woff2"),
    url("/static/font/helvetica.woff") format("woff"),
    url("/static/font/helvetica.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}
