// colors
$clr-white: #fff;
$clr-grey-primary: #4d4d4d;
$clr-grey-secondary: #6f6f6f;
$clr-lightgrey: #828282;
$clr-darkgrey: #404040;
$clr-greymain: #f8f8f8;
$clr-black: #000;
$clr-thinblue: #eef1ff;
$clr-silverblue: #b0d0ff;
$clr-lightblue: #070c8c;
$clr-darkblue: #032557;
$clr-red: #b00101;
$clr-lightgreen: #0C8F31;
$clr-green: #1c6758;

// fonts
$ff-helvetica: "helvetica", sans-serif;
$ff-nunitomedium: "nunito-medium", sans-serif;
$ff-nunitobold: "nunito-bold", sans-serif;
$ff-firaregular: "fira-regular", sans;
$ff-firabold: "fira-bold", sans;

// font sizes
$fs-xl: 1.875rem;
$fs-l: 1.125rem;
$fs-m: 1rem;
$fs-s: 0.875rem;
$fs-xs: 0.75rem;
