{% extends "layouts/main.html" %}
{% block content %}
<main class="main">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger" role="alert" class="alert-message"
         style="width:30%; margin-left:35%;margin-top:3%;">
        <ul class=flashes>
            {% for message in messages %}
            <li style="color:red;">{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}

    <div class="main__wrapper">
        <h2>TalkBank: <span>CHILDES</span></h2>
        <section class="main__goal" id="goal-section">
            <h3>საიტის მიზანი და დანიშნულება</h3>
            <p>{{about['goals']}}
            <hr>
            </p>
        </section>
        <section class="main__instructions" id="instructions-section">
            <h3>საიტის გამოყენების ინსტრუქცია</h3>
            <p>{{about['instruction']}}
            <hr>
            </p>
        </section>
        <div class="main__creators">
            <h3>პროექტზე მუშაობდნენ</h3>
            <ul>
                {{about['who_worked']}}
            </ul>
        </div>
    </div>
</main>
{% endblock %}
