{% extends "main.html" %}
{% block content %}
        <!-- main -->
        <main class="main">
          <div class="main__wrapper">
            <p class="auth-para">
              ახალი პაროლის შესაყვანად, გთხოვ შეიყვანოთ ახალი პაროლი.
            </p>
            <form class="main__form flex-column" id="reset-psw" autocomplete="off" method="post">
              {{ form.hidden_tag() }}

              <div class="main__form-field flex-column">
                <label for="reset-psw">ახალი პაროლი:</label>

                {{ form.new_password }}
              </div>
              <input type="submit" value="პაროლის აღდგენა" />
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <ul class=flashes>
                  {% for message in messages %}
                    <span>{{message}}</span>
                  {% endfor %}
                  </ul>
                {% endif %}
              {% endwith %}
              <span class="input-error" id="reset-psw-error">** ელ-ფოსტა არასწორია, გთხოვთ მიუთითოთ სწორი მისამართი.</span>
              <span class="input-success" id="reset-psw-success">
                <img src="../images/success.png" alt="success">
                <p>შეტყობინება გაიგზავნა წარმატებით, პაროლი აღდგენილია.</p>
              </span>
            </form>
          </div>
        </main>
        <!-- aside -->
        <aside class="aside">
          <div class="aside__wrapper">
            <div class="aside__title flex-row">
              <a href="#">childes</a>
              <span>>></span>
            </div>
            <ul>
              <li>ქართული</li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
    <dialog class="modal flex-column">
      <div class="modal__icons">
        <div class="modal__info">
          <img src="{{url_for('user_blueprint.static',filename='images/modal-info.png')}}" alt="info">
        </div>
        <div class="modal__close" onclick="closeModal(modal)">
          <img src="{{url_for('user_blueprint.static',filename='images/x-circle.png')}}" alt="close">
        </div>
      </div>
      <p>ძვირფასო მომხმარებელო,<br>
         ვებსაიტის გამოყენება რეკომენდებულია კომპიუტერიდან.
      </p>
      <button onclick="closeModal(modal)">გასაგებია</button>
  </dialog>

    <script src="../js/script.js"></script>
    <script src="../js/reset-psw.js"></script>
    <script src="../js/modal.js"></script>
{% endblock %}
